
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');/*Font sizemizi gogle fonttan import ettik*/

:root{ /* kök dizinleri oluşturuyoruz ki daha sonra kolayca kullanabilelim */
    --main-color: #e84242;
    --black-color: #0e0e0e ;
    --border: 0.1rem solid rgba(255,255,255,0.4);
}
body{
    background-color:var(--main-color);
}
section{ /* content,menü,harita vs. hepsinin kapsayıcısı, hizayı bununla vericez*/
    padding: 3.5rem 7%; /* Header kısmına da sağ-sol %7 verdik,o yüzden burda da aynısını kullandık*/
}
a{
    color: var(--black-color);
    text-decoration: none;
}
.btn{ /*tüm buton sınıflarına ortak css*/
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.75rem;
    color: #fff;
    background-color: var(--black-color);
    animation: 1s ease;
}
.btn:hover{
    transform: scale(1.1);
    opacity: 0.9;
}
.heading{ /* menü h1 içindeki "our menu" yazısı cssi*/
    color: #fff;
   text-transform: none;
   font-size: 4rem;
   margin-bottom:3.5rem ;
   border-bottom: .1rem solid #fff; /*h1 etiketi block elementtir, border tüm satırı kaplar*/
}
.heading span{
    text-transform: uppercase;
    color: var(--black-color);
}

*{
    font-family: 'Poppins', sans-serif; /* import ettiğimiz yazı fontunu burda uyguluyoruz*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;/*a etiketlerinin altındaki izgileri kaldırır.*/
    text-transform: capitalize; /* Baş harflrtini, tamamını büyük-küçük yazdırmamızı sağlar*/
    transition: .2s ease; /* rootta transition veririz. Sonrasında hepsi için kullanabiliriz*/
}
/* base html codes */
html{ /* tüm html e ortak kodlar yazıyoruz*/
    font-size: 62.5%; /* normalde 1rem=16px iken , bu şekilde 1rem=10px olur*/ /*responsiv yapılarda px sıkıntı çıkarır. Rem ile belirtmemiz geerekir.Hesaplamanın kolay olabilmesi için bu işlem yapılır*/
    overflow-x: hidden; /* İçerik x ekseninde  ekrana sığmadığında , scroll çıkmasını önler.*/
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
} 
html::-webkit-scrollbar{ /*tarayıcı scrollbarı yerine kendi scrollumuzu yapıyoruz*/
    width: .9rem;
    background-color: #fff;
}
html::-webkit-scrollbar-track{ /*scrollbar arka planı oluşturabiliriz*/
    background-color: transparent;
}
html::-webkit-scrollbar-thumb{/*scrolldaki imleç*/
    border-radius: 1rem;
    background-color: var(--black-color);
    animation: 3s ease-in-out;
}

/*header start*/

.header .logo img{
    height: 10rem;
}
.header{
    background-color: white; /* header kımının background colorunu belirliyoruz*/
    display: flex; /*yan yana koyduk*/
    align-items: center; /* dikeyde hizaladık-ortaladık*/
    justify-content: space-between;/*yatayda aralarına eşit mesafe koyduk*/
    padding: 0 7%;/*üst-alt 0 boşluk, sağ-sol %7 boşluk verdik*/
    margin: 2rem 7%; /*alt-üst 2rem boşluk , sağ-sol %7 boşluk*/
    border-radius: 30rem; /*border köşelerini eğimli yaptık*/
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.75); /*header box'a gölge verdik*/
    position: sticky; /*header, top:0px olduğunda, scroll ile aşağı kaydırsakta yukarda yapışık şekilde sabit kalır*/
    top:0;
    z-index: 1000; /* Çok yüksek bir sayı verdik çünkü önünü hiçbir şeyin kapatmasını istemiyoruz*/
}

.header .navbar a{
    margin: 0 1rem ;
    font-size: 1.6rem; /*1.6rem artık 16px e eşit oldu*/
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent; /*0.1rem=1px, transparent dememizin sebebi, animasyon bittiğinde bordr çizgisinin kaybolması için */
}
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}
.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem; /*25px oluyor*/
    margin-left: 2rem;
    background-color: transparent; 
}
/*header end*/
/*Home start*/
.home{
    min-height: 100vh;
    background: url(/images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:-14.46rem; /*headerın arka plan rengini, background image ile kapattık. Bunun için margin topta 145px lik bir mesafe vardı. 14.5rem=145px ediyor. (-14.5rem)işimizi gördü.*/
    display:flex; /*content içinedki yazıları ekranda ortalayabilmek için */
    align-items: center;

}
.home .content{
    max-width: 60rem;
    
}
.home .content h3{
    font-size: 6rem; 
    color: #fff;
}
.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ccc;
}
/*Home end*/
/**Menu Start*/


.menu .box-container{
    display: grid; /*menü kapsayıcı konteynırına grid yapısını uyguluyoruz*/
    grid-template-columns: repeat(auto-fit, minmax( 30rem, 1fr));/* auto-fitle tekrar et , min 30rem , max 1fr boyutunda)*/
}
.menu .box-container .box img{ /* imagelere yükseklik giriyoruz*/
    width: 100%; /*genişliğinin %100 ünü kullan*/
    object-fit: cover; /*boyutu belirlenmiş görselin nasıl davranacağını belirtiriz. (cover=kapsa , contain=netliğini koru, fill=doldur)*/
    gap: 1.5rem;

}
.menu .box-container .box{ /*menu boxlarını düzenliyoruz*/
    padding: 3rem;
    margin: 1rem;
    border-radius: 3rem;
    background-color: #fff;
    min-height: 60rem;/*600px*/
    display: flex;
    flex-direction: column; /* flex yapısı defaultta roe=satırdadır. Biz burda sütun kullanacağız*/
    align-items: flex-start; /*menu box içndeki öğelr (yazı,fiyat,buton) sütuna göre ortalandı*/ 
    justify-content: space-between;
}
.menu .box-container .box .menu-category{ /*pizza yazısına css*/
    font-size: 1.2rem;
}
.menu .box-container .box h3{
    padding: 1rem 0;
    font-size: 3rem;
}
.menu .box-container .box .price{
    font-size: 2.5rem;
    padding: 0.5rem 0;
}
.menu .box-container .box .price span{
    font-size: 1.5rem; /* üstü çizik yazı daha küçük ve ince fontlu olsun*/
    font-weight: 300;
    text-decoration: line-through; /*span içerisine yazılı olan içeriğin üstünü çizer*/ 
}


/**Menu End*/
/*Product start*/
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
}
.products .box-container .box{
    text-align: center;
    background-color: #fff;
    position: relative;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem ;
}
.products .box-container .box .box-head{
    display: flex;
    flex-direction: column; /* sütunda alt alta sıralanması için*/
    align-items: flex-start;
    position: relative;
    z-index: 10; /*önümüze birşey geçsin istemiyoruz*/

}
.products .box-container .box .box-head .title{
    font-size: 1.4rem;

}
.products .box-container .box .box-head .name{
    font-size: 4rem;
    font-weight: bold;
    overflow-wrap:anywhere ; /*textin taşmamasını sağlıyoruz*/
}
.products .box-container img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 3rem;
}
.products .box-container  .dark-bg .box-head .name,
.products .box-container  .dark-bg .box-head .title{ /*dark foto içindeki yazıyı beyaz yaptık*/
    color: #fff;
}
.products .box-container .dark-bg .box-bottom .info .price ,
.products .box-container .dark-bg .box-bottom .info .amount{ /*dark foto içindeki yazıyı beyaz yaptık*/
    color: #fff;
}
.products .box-container .dark-bg img{ /*fotoğraftaki taşmayı düzelttik*/
    top: 0; /*parentine top=0 ol*/
    left: 0; /*boz ta left=0 ol*/
    width: 100%; 
    height: 100%; 
    transform:unset; /*varsayılana setle*/
}
.products .box-container .box-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}
.products .box-container .box-bottom .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.products .box-container .box-bottom .info .price{
    font-size: 3rem;
}
.products .box-container .box-bottom .info .amount{
    font-size: 1.4rem;
}
.products .box-container .box-bottom .product-btn a{ /*(+) ya önce bir border veriyoruz ,sonrqa da  borderını yuvarlak yapıyoruz.*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid var(--main-color); 
    width: 6.5rem;/*bordera genişlik ve yükseklik veriyoruz*/
    height: 6.5rem;
    border-radius: 50%; /*borderı yuvarlak yapıyoruz*/
}
.products .box-container .box-bottom .product-btn a i{
    color: var(--main-color);
    font-size: 1.6rem;
}

/*Product End*/

/*About Start*/

.about .row{
    display: flex;
    flex-wrap:wrap;
    column-gap: 2rem;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row img { 
    width: 100%; /*img containerinin %100 ü kadar yer kapla*/
}
.about .row .content{
    flex: 1 1 45rem ;
}
.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
/*About End*/

/*Review Start*/
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
    gap: 1.5rem;
}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
}
.review .box-container .box .user{
    width: 7rem;
    height: 7rem;
    object-fit: contain;
    border-radius: 50%; /*img lerin borderlarını yuvarlak yaptık*/
}
.review .box-container .box p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 0;
    font-weight: 500;
}
.review .box-container .box h3{
    padding-right: 1rem;
    font-size: 2rem;
    color: var(--main-color);
}
.review .box-container .box .stars i{ /*yıldızların renklerini altın sarısı yapıyoruz*/
    font-size: 1.5rem;
    color: gold;
}
/*Review End*/

/*Contact Start*/



/*Contact End*/





















